/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 thg 9, 2024, 16:36:15
    Author     : thaii
*/
@font-face {
    font-family: 'Kirsty'; /* Your font name */
    src: url('../fonts/kirsty rg.otf') format('opentype'); /* Path to your font */
    font-weight: normal;
    font-style: normal;
}

.navbar-brand  {
    font-family: 'Kirsty', sans-serif;
    color: #050B20;
}